body {
    margin-top: 200px;
    color: #bcd0f7;
    background: #1A233A;
    /* background-image: url('Pics/Background/cappadocia-tour.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Pics/Background/cappadocia-tour.jpg");
    background-repeat: no-repeat;
    opacity: 1;
    background-size: cover;
    height: 77vh;

}

/* .container{
    color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
} */


.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;

}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;

}

.account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.card {
    /* background: #272E48; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    background-attachment: fixed;
    margin-top: -30px;
}

.form-control .custom-select {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
}

.btn {
    position: absolute;
    /* positioner un elemnt par raport a la balise mere */
    left: 900%;
    top: 90px;
    color: #fff;
    padding: 4px;
    background-color: #b43a10;
    border-color: #b43a10;
    width: 120px;

}

.btn:hover {
    background-color: gray;
    border-color: gray;

}

.btn-secondary {
    position: absolute;
    /* positioner un elemnt par raport a la balise mere */
    left: 900%;
    top: 90px;
    color: #fff;
    padding: 4px;
    background-color: #b43a10;
    width: 120px;

}

.profile-image {
    /* width: 150px;
    height: 150px;
    border-radius: 50%; */
    object-fit: cover;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

#profile-block #profile-photo img {
    border-radius: 999999px;
    display: block;
    max-width: 100%;

}

.flow-browse-image {
    background-color: #505050;
    border-radius: 999999px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    transition: all .5s;
    z-index: 100;
}

#bimg {
    overflow: hidden;
}

label {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: medium;
}

#Email {
    top: 360px;
    background-color: #fff;
}

.textarea {
    color: transparent;
}

#nom {
    float: right;
    position: relative;
    text-align: center;
    font-size: 16px;
    left: -90px;
    top: -10px;
    font-weight: bold;
    color: #fff;
}