.master-head-profile {
    min-height: 300px
}

.flow-browse-image {
    background-color: #505050;
    border-radius: 999999px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    transition: all .5s;
    z-index: 100
}

.flow-browse-image:hover {
    background-color: #fff;
    color: #505050
}

#profile-block {
    position: relative
}

#profile-block .profile-premium {
    font-size: .7rem;
    left: 100px;
    position: absolute;
    z-index: 2
}

#profile-block #profile-photo {
    background-color: #fff;
    border-radius: 999999px;
    display: inline-block;
    height: 150px;
    padding: 6px;
    vertical-align: middle;
    width: 150px
}

#profile-block #profile-photo img {
    border-radius: 999999px;
    display: block;
    max-width: 100%
}

#profile-block #profile-photo .flow-file-progress {
    position: absolute;
    text-align: center;
    top: 55px;
    width: 100%
}

.flow-file-progress {
    color: #fff
}

.nav-profile .nav-title {
    background-color: transparent !important;
    font-weight: 600
}

.nav-profile .nav-link {
    margin-top: .325rem
}

.tab-content h2.profile {
    border-bottom: 1px solid #e1e1eb;
    color: #2fa6ff;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

.tab-content h2.profile:first-child {
    margin-top: 0
}

.tab-content h2.profile span {
    font-weight: 600
}

.tab-content h2.profile a {
    font-size: 1rem;
    position: absolute;
    right: 1rem
}

#profile-stats .flow-file-progress {
    position: absolute;
    top: 0
}

.profile-presentation h4 {
    font-size: 22px;
    font-weight: 700
}

.world_map_legend .world_map_legend_title {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center
}

.world_map_legend .world_map_legend_title .country_planned,
.world_map_legend .world_map_legend_title .country_visited {
    border-color: #ddd;
    border-radius: 99999px;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    height: 2rem;
    padding: .25rem;
    vertical-align: middle;
    width: 2rem
}

.world_map_legend .world_map_legend_title .country_visited {
    background-color: #2fa6ff
}

.world_map_legend .world_map_legend_title .country_planned {
    background-color: #d44413
}

.world_map_legend .world_map_legend_countries {
    margin-bottom: 25px
}

.world_map_legend .world_map_legend_countries .flag {
    max-width: 20px
}

@media (max-width:767.98px) {
    #profile-stats {
        display: none
    }
}

.itineraries-list {
    display: table;
    width: 100%
}

.itineraries-list h6 {
    color: #999;
    font-size: .9rem
}

.itineraries-list h5 {
    font-size: 1.15rem;
    font-weight: 700
}

.itineraries-list .card-body {
    min-height: 220px
}

.itineraries-list .itineraries-list-description {
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden
}

.itineraries-list .itineraries-list-image {
    display: table-cell;
    min-height: 250px;
    overflow: hidden;
    position: relative;
    width: 50%
}

.itineraries-list .itineraries-list-image figure {
    min-height: 250px
}

.itineraries-list .itineraries-list-image figure div {
    background-position: 50%;
    background-size: cover;
    height: 100%;
    position: absolute;
    transition: all .5s;
    width: 100%
}

.itineraries-list .itineraries-list-image figure div:hover {
    transform: scale(1.2)
}

.itineraries-list .itineraries-list-image .legend-countries,
.itineraries-list .itineraries-list-image .legend-stats {
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%
}

.itineraries-list .itineraries-list-image .legend-stats {
    bottom: 10px;
    font-size: .85rem;
    font-weight: 600
}

.itineraries-list .itineraries-list-image .legend-countries {
    top: 10px
}

.itineraries-list .itineraries-list-image .legend-countries .flag {
    max-width: 20px
}

@media (max-width:767.98px) {

    .itineraries-list .itineraries-list-details,
    .itineraries-list .itineraries-list-image {
        display: block;
        width: 100%
    }

    .itineraries-list .itineraries-list-details {
        padding-bottom: 50px
    }

    .itineraries-list .itineraries-list-image {
        height: 240px
    }

    .itineraries-list .card-body {
        min-height: inherit
    }
}