body.search {
    color: #295171;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: linear-gradient(to bottom, #fff, #5A97C1);
}

body.search main {
    display: flex;
    overflow: hidden;
}

#asideSearchPage {
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    flex: 0 0 200px;
    background: linear-gradient(to bottom, #fff, #e6f5ff);
    padding: 20px;
    height: 85vh;
    margin-top: 85px;
    border-radius: 20px;
}

#asideSearchPage h2 {
    margin-bottom: 30px;
    margin-top: 10px;
    border-bottom: 1.5px solid #5A97C1;
    padding-bottom: 10px;
}

#asideSearchPage form label {
    display: block;
    margin-bottom: 30px;
}

#asideSearchPage form input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

#asideSearchPage form input[type="checkbox"]:hover {
    cursor: pointer;
}

#asideSearchPage form input[type="checkbox"]:checked {
    background-color: #295171;
    border-color: #295171;
}

#applyFilter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background: #3b6480;
    border: 2px solid #162938;
    border-radius: 20px;
    width: 200px;
    height: 35px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    color: white;
    transition: all 0.8s ease;
}

#applyFilter:hover {
    box-shadow: inset 0 0 200px 200px #162938;
}

#resetFiltersButton {
    background-color: #fff;
    border: none;
    font: inherit;
    color: #5A97C1;
    cursor: pointer;
    margin-top: 13.5px;
    float: right;
    font-size: 12px;
}

.content-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#sectionSearchPage,
#sectionSearchPage1 {
    flex-grow: 1;
    overflow-y: hidden;
    min-width: 500px;
    position: relative;
    width: 1200px;
    background: linear-gradient(to bottom, #fff, #e6f5ff);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    border-radius: 20px;
    margin-left: 25px;
}

#sectionSearchPage {
    margin-top: 20px;
    min-height: 50vh;
}

#sectionSearchPage1 {
    min-height: 80px;
    margin-top: 83px;
}

#searchBarB {
    background-image: url('Pics/Background/search.svg');
    background-size: 25px auto;
    font-size: 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
    outline: none;
    border: 3px solid #295171;
    position: absolute;
    padding-right: 30px;
    height: 40px;
    width: 1131px;
    border-radius: 10px;
    margin-right: 80px;
    padding-left: 45px;
    color: #162938;
}

/* input#searchBarB:focus {
    opacity: 0.3;
  }
#searchBarB:focus + body {
    opacity: 0.3;
  } */

#searchbtnB {
    font-size: 14px;
    background-color: #295171;
    position: absolute;
    width: 63px;
    height: 30px;
    color: white;
    cursor: pointer;
    margin-left: 1060px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    transition: all 0.5s ease;
}

#searchbtnB:hover {
    box-shadow: inset 0 0 200px 200px #162938;
}



.search-results {
    list-style-type: none;
    padding: 0;
}

.result-item {
    background-color: #fbfbfb;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border-radius: 20px;
    min-height: 250px;
    margin-top: 30px;
}

.result-item img {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    border-radius: 20px;
}

.result-content {
    display: flex;
    flex-direction: column;
}

.result-content a {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: none; /* Remove underline */
    color: inherit;
}

.result-content p {
    font-size: 14px;
    color: #888;
    margin: 0;
}