
body{
 background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("Pics/Background/Japan.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 100vh;
 background-position: bottom;
}

.slider{ 
	-moz-appearance: none;
	width: 350px; 
	height: 0px;
	margin-top: 10px;
	margin-left: 30px;
	border: 1px solid white;
	border-radius: 20px;
	color: white;
 }

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: indianred;
}

.con{
	margin-top: 30px;
}

 #Budget_container,#Hebergement_container,#Activité_container,#Hebergement_container_logement,#Hebergement_container_hotel,#Hebergement_container_hotel2 {
 	position: absolute;
 	width: 400px;
 	height: 150px;
 	border : 2px solid black; 
 	border-radius: 5px;
 	padding-left: 10px;
 	top: 20%;
 }

 #Hebergement_container_hotel2 {
     height: 400px;
     font-weight: 800;
     font-size: 30px;
 }

#Hebergement_container_logement,#Hebergement_container_hotel{
   height: 500px;
   font-weight: 800;
}
.c1{
   float: right;
   display: inline-block;
   width: 200px;
   position: absolute;
   font-size: 20px;
   left: 40px;
}

#fwifi,.switch1{
   top: 132px;
}
#fsdb,.switch2{
   top: 172px;
}

#fpis,.switch3{
   top: 212px;
}
#fbal,.switch4{
   top: 252px;
}
#fparking,.switch5{
   top: 292px;
}
#fani,.switch6{
   top: 332px;
}
#fsds,.switch7{
   top: 372px;
}
#fresto,.switch8{
   top: 412px;
}

#fnbp,#nbp{
   top:52px;
}
#fnbm2,#nbm2{
   top: 92px;
}
.nb{
   width: 50px;
   position: absolute;
   left: 295px;
}

label{
	color: White;
}

#Budget_container{
 left: 70px;
 float: left;
 font-weight: 800;
 font-size: 18px;
}

#Hebergement_container,#Hebergement_container_logement,#Hebergement_container_hotel,#Hebergement_container_hotel2{
 	left: 500px;	
 }
#Activité_container{
	left: 930px;
}

#Bg_con>label{
 display: block;
 margin-top: 10px;
 font-weight: 800;
 }


.valeur{
	float: right;
	margin-right: 18px;
	margin-top: 3px;
	padding: 8px;
	border: 1px solid black;
}


#plus{ 
 position: absolute;
 top: 103px;
 right: 15px;
 background: transparent;
 color: white;
 border: transparent;
 text-decoration: underline;
 cursor: pointer;
 }

 #plus:hover{
 	background: white;
 	color: black;
 }

 .bye{
 	display: none;
 }

 #Infos{
 	position: absolute;
 	right: 30px;
 	top: 12%;
 	border: 1px solid white;
 	padding: 6px;
 	border-radius: 5px;
 }

.date{
	margin: 5px;
}

#Nb_personnes{
	width: 43px;
}

#Infos label{
	text-decoration: underline;
}

#Typsel label{
	display: block;
	float: left;
	position: absolute;
	top: 65px;
	left: 30px;
	font-size: 15px;
	font-weight: 800;
	}

select{
	position: absolute;
	left: 180px; 
	top: 60px;
	background: white;
	border-radius: 5px;
	width: 100px;
	padding: 5px;
}

p{
	text-decoration: none;
	position: absolute;
	font-size: 10px;
	font-weight: 0;
	left: 137px;
	color: white;
}

.bouton,#Valider{
  background-color: transparent;
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 5px 13px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 100px;
}

.bouton{
	float: right;
	position: absolute;
	bottom: 10px;
	right: 12px;
}

#Valider{
position: absolute;
	left: 20px; 
	bottom: 10px;
}


.bouton:hover,#Valider:hover {
  color: #fff;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}


.switch,.switch1,.switch2,.switch3,.switch4,.switch5,.switch6,.switch7,.switch8,.switchh {
 font-size: 11px;
 display: inline-block;
 width: 50px;
 height: 20px;
 margin-left: 20px;
 position: absolute;
}

.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.sliderr {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: -5px;
 right: 0;
 bottom: 0;
 background-color: indianred;
 border: 2px solid white;
 transition: .4s;
 border-radius: 10px;
}

.sliderr:before {
 position: absolute;
 content: "NO";
 text-align: center;
 color: white;
 height: 15px;
 width: 28px;
 border-radius: 78px;
 left: 0px;
 bottom: 0px;
 background-color: transparent;
 border-right: 1px solid white;
 transition: 0.1s;
}

input:checked + .sliderr {
 background-color: darkseagreen;
}

input:checked + .sliderr:before {
 transform: translateX(20px);
 content: "YES";
 border-right: 0px;
 border-left: 1px solid white; 
}

.switch{
    right: 15px;
 top: 50px;
}

.switch1,.switch2,.switch3,.switch4,.switch5,.switch6,.switch7,.switch8,.switchh {
   left: 280px;
}

.appear{
   display: inline-block;
}

.hide{
   display: none;
}


.rate {
    position: absolute;
    top: 85px;
    right: 45px;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc703;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ffe280;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color:#a37e02;
}

#nbe{
    top: 92px;
}

#offre{
    top: 132px;
    width: 150px;
    left: 200px;
}