
body{
 
}

header {
    background-color: rgba(70, 70, 70, 0.5);
    height: 50px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
  }
  

#DP {
    list-style: none;
    margin-top: -3px;
    padding: 0;
    
  }

  
  #searchBar{
    position: absolute;
    right: 275px;
    top: 20px;
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
   font-size: 18px;
   outline: none;
   border-radius: 10px;

  }

  #RsearchBar{
    position: absolute;
    right: 100px;
    top: 50px;
    width: 200px;
    height: 30px;
    background-color:seashell;
    border: 1px solid rgb(7, 0, 0);
    color: rgb(0, 0, 0);
   font-size: 18px;
   outline: none;
   border-radius: 10px;
   display: none;

  }



  #Logo{
    display: inline-block;
    width:  215px;
    height: 45px;
    margin-top: 0px;
    background-image: url(Pics/UI/Logo.png);
    background-size: cover;
    position: absolute;
  }

  #Sbutton{
    display: inline-block;
    width: 40px;
    height: 50px;
    float: right;
    background-image: url(Pics/UI/Sbutton.png);
    background-size: cover;
    margin-right: 20px;
    margin-top: 5px;
    display: none;
  }

  #AuthButton{
    display: inline-block;
    width: 40px;
    height: 50px;
    float: right;
    background-image: url(Pics/UI/AuthButton.png);
    background-size: cover;
    margin-right: 20px;
    display: none;
  }

  #Options{
    display: inline-block;
    width: 40px;
    height: 50px;
    float: right;
    background-image: url(Pics/UI/Options.png);
    background-size: cover;
    margin-right: 15px;
    display: none;
  }

#Anonym {
width: 50px; 
border-radius: 50px;
float: right;
margin-right: 20px;
}

#user_dpmenu{
  background-color: white;
  width: 200px;
  height: 260px;
  float: right;
  position: absolute;
  top: 60px;
  right: 40px;
  border-radius: 10px;
  z-index: 9999;
}


.before{
 display: none;
}

.after{
 display: all;
}

h3{
  color: grey;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  width: 200px;
}

span{
  display: inline-block;
  color:  lightgrey;
  text-align: center;
  width: 200px;
}

#DP {
  align-content: center;
  list-style: none;
}

#DP > li{
  display: inline-block;
  width: 30%;
  padding : 10px;
  border-bottom: 1px solid lightgrey;
}

.Dp_img {
  float: left;
  width: 20px;
  height: 20px;
  padding-right: 5px;
  
}

a
{text-decoration: none;
color: black;}

#DP > li:hover{
 background-color: lightyellow;
}

#DP > li>a:hover{
 color: hotpink;
 text-decoration: underline;
}

#Authentification {
     float: right;
     font-size: 20px;
     background-color: transparent;
     color: white;
     margin-right: 20px;
     border: none;
     height: 50px;
}

footer > a, footer > span{
  color:  white;
}

#Rx_sociaux {
  position: absolute;
  right: 30px;
}

#Reservation {
 position: absolute;
 top: 354px;
 right: -285px;
 transform: rotate(90deg);
 width: 600px;
 background-color: white;
 height: 30px;
 background-color: rgba(95, 3, 3, 0.5);
 color:  white;
 font-size: 20px;
 border:  transparent;
}


#pyra{
  width: 100px;
  height: 120px;
  border-radius: 5px;
  float: right;
  margin-left: 5px;
  padding-right: 5px;
}

h2 {
  float: left;
  margin-right: 180px;
  font-size: 20px;
}

p{
  float: left;
}

#hebergement{ 
left:  250px;
border-left: transparent;
border-right: 1px solid white;
 } 

#Restaurant{
left:  400px;
border-left: 1px solid white;
border-right: 1px solid white;
}

#Activites {
left:  550px;
border-left: 1px solid white;
border-right: transparent;
}

#hebergement,#Restaurant,#Activites{
position: absolute;
background-color: transparent;
outline: none;
border-bottom: transparent;
border-top: transparent;
width: 150px;
height: 40px;
position: absolute;
top: 15px;
color: white;
font-size: 20px;
}

#hebergement:hover,#Restaurant:hover,#Activites:hover,#Authentification:hover{
  background-color: #892b2852;
  transition: background-color 0.5s ease-in-out;
}

@media screen and (max-width: 1150px) {
  #searchBar {
    display: none;
  } 
  #Sbutton {
    display: block;
  } 
}


.slider-container {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#image1 {
  background-image: url('Pics/Background/Egypt.jpg');
}

#image2 {
  background-image: url('Pics/Background/Japan.jpg');
}

#image3 {
  background-image: url('Pics/Background/Ireland.jpg');
}
#image4 {
  background-image: url('Pics/Background/USA.jpg');
}
#image5 {
  background-image: url('Pics/Background/Brazil.jpg');
}
#image6 {
  background-image: url('Pics/Background/Australia.jpg');
}

.slider-image.active {
  opacity: 1;
}

.slider-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.Bg-button {
  background: none;
  border: none;
  color: rgb(7, 3, 3);
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
    
  #Authentification{
    display: none;
  }
  #AuthButton {
    display: block;
  } 
}
@media screen and (max-width: 700px) {
    
  #hebergement,#Restaurant,#Activites{
    display: none;
  }
  #Options{
    display: block;
  } 
}
