
body{
 background-image: url("Pics/Background/Egypt.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

header {
    background-color: rgba(95, 3, 3, 0.5);
    height: 50px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
  }

  footer {
   background-color: rgba(95, 3, 3, 0.5);
    height: 50px;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
   position: fixed;
  }
  

#DP {
    list-style: none;
    margin-top: -3px;
    padding: 0;
  }

  
  #searchBar{
    position: absolute;
    right: 300px;
    top: 20px;
    width: 350px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
   font-size: 18px;
   outline: none;
   border-radius: 10px;

  }



  #Logo{
    display: inline-block;
    width: 200px;
    height: 70px;
    margin-top: -17px;
    background-image: url(Pics/UI/Logo.png);
    background-size: cover;
    position: absolute;
  }

#Anonym {
width: 50px; 
height: 50px;
border-radius: 50px;
float: right;
margin-right: 20px;
}

#user_dpmenu{
  background-color: white;
  width: 200px;
  height: 260px;
  float: right;
  position: absolute;
  top: 60px;
  right: 40px;
  border-radius: 10px;
}


.before{
 display: none;
}

.after{
 display: all;
}

h3{
  color: grey;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  width: 200px;
}

span{
  display: inline-block;
  color:  lightgrey;
  text-align: center;
  width: 200px;
}

#DP {
  align-content: center;
  list-style: none;
}

#DP > li{
  display: inline-block;
  width: 180px;
  padding : 10px;
  border-bottom: 1px solid lightgrey;

}

.Dp_img {
  float: left;
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

a
{text-decoration: none;
color: black;}

#DP > li:hover{
 background-color: lightyellow;
}

#DP > li>a:hover{
 color: hotpink;
 text-decoration: underline;
}

#Authentification {
     position: absolute;
     right: 110px;
     font-size: 20px;
     background-color: transparent;
     color: white;
    
     border: 1px solid white;
     height: 50px;
}

footer > a, footer > span{
  color:  white;
}

#Rx_sociaux {
  position: absolute;
  right: 30px;
}

#Reservation {
 position: absolute;
 top: 400px;
 right: -185px;
 transform: rotate(90deg);
 width: 400px;
 background-color: white;
 height: 30px;
 background-color: rgba(95, 3, 3, 0.5);
 color:  white;
 font-size: 20px;
 border:  transparent;
}

#container {
  background-color: white;
  position: absolute;
  top: 100px;
  right: 100px;
  border-radius: 20px;
  width: 500px;
  height: 600px;
}

#pyra{
  width: 100px;
  height: 120px;
  border-radius: 5px;
  float: right;
  margin-left: 5px;
  padding-right: 5px;
}

h2 {
  float: left;
  margin-right: 180px;
  font-size: 20px;
}

p{
  float: left;
}

#hebergement{ 
left:  250px;
border-left: transparent;
border-right: 1px solid white;
 } 

#Restaurant{
left:  400px;
border-left: 1px solid white;
border-right: 1px solid white;
}

#Activites {
left:  550px;
border-left: 1px solid white;
border-right: transparent;
}

#hebergement,#Restaurant,#Activites{
position: absolute;
background-color: transparent;
outline: none;
border-bottom: transparent;
border-top: transparent;
width: 150px;
height: 40px;
position: absolute;
top: 15px;
color: white;
font-size: 20px;
}